body {
  font-family: Georgia, "Palatino Linotype", fantasy, serif;
  text-align: center;
}

h1 {
  text-transform: capitalize;
}

h2 {
  background-color: #3e5c45;
  color: bisque;
  border-radius: 2rem;
  margin: 1rem auto;
  padding: 10px;
  text-transform: uppercase;
  width: 50%;
}

form {
  max-width: 300px;
  width: 90%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 50%;
  padding: 10px;
  border-radius: 5rem;
  background-color: #3e5c45;
  color: bisque;
  font-family: Georgia, "Palatino Linotype", fantasy, serif;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #2c4632;
}

.input-error {
  border: 2px solid red;
}

.alert {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}
