@import url("https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap");

body {
  font-family: "Uncial Antiqua", serif;
  background: radial-gradient(
    circle,
    rgba(20, 20, 20, 1) 0%,
    rgba(41, 34, 33, 1) 50%,
    rgba(10, 10, 10, 1) 100%
  );
  color: #eeeed4;
  text-align: center;
  margin: 50px;
  animation: mistEffect 10s infinite alternate;
}

@keyframes mistEffect {
  0% {
    background-position: 0% 0%;
    opacity: 1;
  }

  100% {
    background-position: 100% 100%;
    opacity: 0.8;
  }
}

h1 {
  font-size: 42px;
  color: #eeeed4;
  text-shadow: 2px 2px 6px #8f9275;
  border-bottom: 4px solid #eeeed4;
  padding-bottom: 10px;
  display: inline-block;
}

h2 {
  font-size: 24px;
  color: #eeeed4;
  margin-top: 20px;
}

button {
  background: linear-gradient(to bottom, #8f9275, #464038);
  border: 3px solid #d3d1ae;
  color: #eeeed4;
  font-size: 22px;
  font-family: "Uncial Antiqua", serif;
  padding: 15px 35px;
  border-radius: 40px;
  text-transform: uppercase;
  box-shadow: 0px 8px 0px #656152, 0px 10px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 15px;
}

button:hover {
  transform: scale(1.08);
  background: linear-gradient(to bottom, #c3ccac, #8f9275);
}

.input-error {
  border: 2px solid red;
}

button:active {
  transform: translateY(6px);
  box-shadow: 0px 4px 0px #464038;
}

#nameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #d3d1ae;
  font-size: 18px;
}

.alert {
  color: red;
  font-size: 14px;
}

#backButton {
  width: 50%;
  padding: 10px;
  border-radius: 5rem;
  background-color: #3e5c45;
  color: bisque;
  font-family: Georgia, "Palatino Linotype", fantasy, serif;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

#backButton:hover {
  background-color: #2c4632;
}
