<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10 rounds</title>
    <link rel="stylesheet" href="/css/game.css">
    <script defer src="/js/<%=gameMode%>.js"></script>
</head>

<body>
    <div id="game-data" data-json="<%= gameData %>" style="display:none;"></div>
    <h1 id="introTitle">
        <% if (gameMode === "ten_rounds") { %>
          Ten Rounds
        <% } else if (gameMode === "sudden_death") { %>
          Sudden Death
        <% } else { %>
          <%= gameMode %>
        <% } %>
      </h1>
          <div id="introText">
        <%- explanation %>
        <button class="beginKnop" id="startButton">Start de Quiz</button>
        <button onclick="window.location.href = '/gameMode';" class="beginKnop" id="backToMenuButton">Terug naar Menu</button>
      </div>
      
      <section id="quizContainer" style="display: none;">
        <header>
          <h2 id="quote"></h2>
        </header>
        <div id="buttons">
          <button class="btn een"></button>
          <button class="btn twee"></button>
          <button class="btn een"></button>
          <button class="btn twee"></button>
          <button class="btn een"></button>
          <button class="btn twee"></button>
        </div>
        <button id="submitAnswer" class="next">Volgende</button>
        <section id="motivationalMessage" style="margin-top: 20px;"></section>
      </section>
    <section id="controlButtons" style="display: none; margin-top: 20px;">
        <button id="exitButton">Verlaten</button>
        <button id="restartButton">Herstart</button>
    </section>

    <audio id="lotrAudio" src="/audio/Lord of the Rings   Sound of The Shire.mp3" autoplay loop></audio>

    <article id="popup" style="display: none;">
        <p id="popupMessage">Weet je zeker dat je de quiz wilt verlaten?</p>
        <button id="confirmButton">Ja</button>
        <button id="cancelButton">Nee</button>
    </article>

    <div id="popupBackground" style="display: none;"></div>
</body>

</html>