<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/landing.css">
  <script src="/js/landing.js" defer></script>

</head>
  <body>
    <button class="login-button" onclick="login()">Login</button>
    <div class="container">
      <div class="banner" id="banner">Selecteer een game</div>
      <div class="arrow left-arrow" onclick="scrollProjects(-1)">&#10094;</div>
      <div class="selection">
        <div class="project" onclick="selectProject('Chronicles of Eldoria')" style="background-image: url('/images/landing/project1.webp');">
          <div class="project-title">Chronicles of Eldoria</div>
        </div>
        <div class="project" onclick="selectProject('Lord of the Rings')" id="delayedLink" style="background-image: url('/images/landing/projext.webp');">
          <div class="project-title">Lord of the rings</div>
        </div>
        <div class="project" onclick="selectProject('Wizards of the Forgotten Realm')" style="background-image: url('/images/landing/project3.webp');">
          <div class="project-title">Wizards of the Forgotten Realm</div>
        </div>
      </div>
      <div class="arrow right-arrow" onclick="scrollProjects(1)">&#10095;</div>
    </div>
  </body>

  </html>