<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Project Selectie</title>
  <link rel="stylesheet" href="/css/landing.css" />
  <script src="/js/landing.js" defer></script>
</head>
<body>
  <button class="login-button" onclick="login()">Login</button>
  <div class="container">
    <div class="selection">
      <div class="project" style="background-image: url('/images/landing/project1.webp');">
        <div class="project-title">Chronicles of Eldoria</div>
      </div>
      <div class="project" style="background-image: url('/images/landing/projext.webp');">
        <div class="project-title">Lord of the Rings</div>
      </div>
      <div class="project" style="background-image: url('/images/landing/project3.webp');">
        <div class="project-title">Wizards of the Forgotten Realm</div>
      </div>
    </div>
  </div>
</body>
</html>
